@use "variables";

.join-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  &__holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    .join-section__image {
      img{
        border-radius: 22px;
        margin-bottom: 30px;
      }
    }
    .join-section__info{
      &--title {
        @extend %jointitle;
        font-family: $fontMainTitle;
        margin-bottom: 10px;
      }
      &--text {
        @extend %joinp;
        font-family: $fontMain;
        margin-bottom: 40px;
      }
    }
  }

  &__input{
    input{
      width: 100%;
      border-radius: $defaultRadius;
      padding: 12px 20px;
      @extend %emailborder;
    }
  }
  &__button{
    margin-top: 16px;
    width: 100%;
    border-radius: $defaultRadius;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 46px;
    background-color: $primaryColor;
    font-family: 'Work Sans',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: $fontColor;
    border: none;
  }
  &__buttonsvg{
    width: 20px;
    height: 20px;
    fill: $fontColor;
  }

  @media screen and (min-width:834px){
    &__shell{
      max-width: 1050px;
      margin: 0 auto;
      display: flex;
      background-color: $bgSecondary;
      padding: 0 30px;
      border-radius: 20px;
      .join-section__holder {
        flex-direction: row;
        align-items: center;
        display: flex;
        gap: 30px;
        .join-section__image {
          padding: 40px 0 0;
        }
      }
    }
  }
  @media screen and (min-width:1280px) {
  height: 550px;
    &__shell{
      padding: 60px;
      display: flex;
      align-items: center;
      .join-section__holder {
        .join-section__image {
          padding: 0;
          img {
            margin: 0;
          }
        }
        .join-section__info {
          max-width: 47%;
          &--title {
            font-size: 38px;
            line-height: 120%;
          }
          &--text {
            font-size: 22px;
            line-height: 160%;
          }
          .join-section__input-poz {
            width: 100%;
            position: relative;
            display: inline-flex;
            .join-section__input{
              position: relative;
            }
            input{
              width: 420px;
              padding: 19px 20px;
              height: 60px;
            }
          }
          .join-section__button{
            margin: 0;
            width: 179px;
            height: 60px;
            padding: 19px 50px 19px 50px;
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      }

    }
  }
}
