// Colors
$bg: #2B2B2B;
$primaryColor: #A259FF;
$fontColor: #fff;
$fontSubColor: #858584;
$footercolor: #CCCCCC;
  // Fonts
$fontMain: 'WorkSansRegular', sans-serif;
$fontMainTitle: 'WorkSansSemiBold', sans-serif;
$fontSub: 'SpaceMonoRegular', sans-serif;
$fontSubTitle: 'SpaceMonoBold', sans-serif;
// Borders
$defaultRadius: 20px;
// Transition
$defaultTransition: .2s all;